#Database Info
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_SOURCE=
TESTING_DB_SOURCE=

ENVIRONMENT=

#Cache
CACHE_SOURCE=
CACHE_PASSWORD=

#Workers
WORKER_SOURCE=

#HTTP Server
HTTP_SERVER_ADDRESS=

#Security
TOKEN_SYMMETRIC_KEY=
TOTP_SECRET=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

#Mail
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

#Services
EMBEDDING_SERVER_ADDRESS=
EMBEDDING_ACCESS_KEY=
MIGRATION_ACCESS_KEY=
CATEGORIZER_ACCESS_KEY=

# OpenAI
OPENAI_API_KEY=
OPENAI_ASSISTANT_ID=
OPENAI_THREAD_URL=

#Stable Diffusion
STABLE_DIFFUSION_URL=
STABLE_DIFFUSION_API_KEY=

#Firebase
FIREBASE_SERVICE_KEY=