POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
ENVIRONMENT=
DB_SOURCE=
CACHE_SOURCE=
CACHE_PASSWORD=
WORKER_SOURCE=
TESTING_DB_SOURCE=
HTTP_SERVER_ADDRESS=
EMBEDDING_SERVER_ADDRESS=
EMBEDDING_ACCESS_KEY=
MIGRATION_ACCESS_KEY=
CATEGORIZER_ACCESS_KEY=
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=
